body {
  background-color: seashell;
  margin: 0px;
}
.listitem {
  display: flex;
  background-color: #282927;
  height: 70px;
}
ul {
  margin: 0% 0%;
  /* height: 50px; */
}
li {
  list-style-type: none;
  margin: 0% 0%;
  float: left;
  font-family: "Kaushan Script", cursive;
}
li a {
  display: block;
  font-size: 20px;
  font-weight: 900;
  text-decoration: none;
  padding: 25px 30px;
  color: #f0f2f0;
  /* background-color: #566073; */
}
li a:hover {
  background-color: #8c8c7b;
  height: 20px;
  margin: 0px;
}
/* #test {
  background-color: #566073;
  border: 2px solid black;
} */
.imgCard {
  width: 220px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: white 3px solid;
  margin-bottom: 20px;
  /* //////////////////////////// */
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}
.imgCard:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

select {
  height: 40px;
  width: 100px;

  background-color: #ffb363;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.inp {
  margin-top: 30px;
  margin-left: 400px;
  display: flex;
  height: 20px;

  width: 200px;
}
#type1 {
  padding: 10px;
  font-size: 20px;
  font-weight: 900;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: end;
  align-items: end;
  width: 1100px;
  gap: 10px;
}
.mainDiv {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: center;
}
#pressimgcss {
  padding: 100px;
  background-color: cadetblue;
}
.star {
  color: yellow;
  font-size: 15px;
}
.starr {
  background-color: black;
  margin: 20px 0px;
}

.eyes {
  font-size: 20px;
  font-weight: 900;
  color: black;
  padding-top: 25px;
  padding-bottom: 23px;

  padding-left: 30px;
  padding-right: 30px;
}
#login {
  color: ivory;
  font-weight: 900;
  background-image: url("login2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: ivory 3px solid;
  box-shadow: 10px 10px 5px grey;
  border-radius: 10%;
  display: grid;
  grid-template-columns: auto;
  width: 300px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.cen {
  display: grid;
  justify-content: center;
  align-items: center;
}
#logButton {
  margin: 30px;
  width: 100px;
  height: 40px;
  background-color: green;
  display: grid;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  border: 2px solid whitesmoke;
  border-radius: 10%;
}
#signUpNow {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-bottom: 10px;
  color: aqua;
  text-decoration: none;
}
#h1login {
  display: grid;
  justify-content: center;
  align-items: center;
}
#register {
  color: ivory;
  font-weight: 900;
  background-image: url("login2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: ivory 3px solid;
  box-shadow: 10px 10px 5px grey;
  border-radius: 10%;
  display: grid;
  grid-template-columns: auto;
  width: 300px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
#loginNow {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-bottom: 10px;
  color: aqua;
  text-decoration: none;
}
#signUpButton {
  margin: 30px;
  width: 100px;
  height: 40px;
  background-color: green;
  display: grid;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  border: 2px solid whitesmoke;
  border-radius: 10%;
}
.centerh1 {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.iconsize {
  font-size: 30px;

  color: cadetblue;
}
.basket {
  font-size: 30px;
}
#burshacing {
  height: 20px;
  display: block;
  float: right;
  margin-right: 50px;
}
#divBox {
  border: 3px solid black;
  box-shadow: 5px 5px 5px black;
  background-color: #5c3530;
}
#cart {
  margin: 15px 0px;
}
#favDiv {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
#burDiv {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.detailes {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto;
}
#tot {
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.nameBook {
  font-family: "Lobster Two", cursive;
}
ul {
  display: inline;
}
.listitem {
  display: block;
}
.start{
  display: flex;
  -ms-flex-align: end;
  -ms-flex-align: end;
}