body {
  background-color: #bdbfb8;
  margin: 0px;
}
.listitem {
  display: flex;
  background-color: #566073;
  height: 70px;
}
ul {
  margin: 0% 0%;
  /* height: 50px; */
}
li {
  list-style-type: none;
  margin: 0% 0%;
  float: left;
}
li a {
  display: block;
  text-decoration: none;
  padding: 25px 30px;
  color: #f0f2f0;
  /* background-color: #566073; */
}
li a:hover {
  background-color: #8c8c7b;
  height: 100%;
  margin: 0px;
}
#test {
  background-color: green;
  border: 2px solid black;
}
#imgg {
  width: 70px;
  display: grid;
  justify-content: center;
  align-items: center;
}

select {
  height: 60px;
  width: 100px;

  background-color: aqua;
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.inp {
  margin-top: 20px;
  margin-left: 1000px;
}
#type1 {
  padding: 20px;
}
.mainDiv {
  background-color: brown;
  display: grid;
  grid-template-columns: auto auto auto;
}
